<h1>Events</h1>

<%= render "shared/event_display", locals: { events: @events } %>

<%= link_to "Your Events", user_path(@user) %>

<%= link_to "Create New Event", new_event_path %>

<%= render "shared/footer" %>